.hero {
    background-image: url('/static/images/eatme_hero.jpg');
    background-size: cover;
    background-position: center;
    height: 200px;
    margin-bottom: 10px;
}

.hero .container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.hero-heading {
    color: white;
}

/*------------------------------------*\
    #Default looks
\*------------------------------------*/

div#loginContainer,
div#signupContainer,
div#caloriesContainer {
    display: none;
}

login-button,
signup-button,
logout-button,
calories-button, {
    display: none;
}

.withinTarget {
    background-color: lightgreen;
}

.overTarget {
    background-color: red;
}
